<a class="navbar__brand" href="">Addresso</a>
<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
</button>
<nav>
    <div class="nav__item px-3">
        <NavLink class="nav__link" href="" Match="NavLinkMatch.All">
            <span class="material-symbols-outlined">
                home
            </span> 
            Home
        </NavLink>
    </div>
    <div class="nav__item px-3">
        <NavLink class="nav__link" href="contacts">
            <span class="material-symbols-outlined">
                group
            </span>
            Contacts
        </NavLink>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}